* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2d3c49;
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

hr {
  border: solid 3px #2d3c49;
  margin: 25px 0;
}

header {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: 0;
}

figcaption h3 {
  font-size: 27px;
  text-align: center;
  padding-top: 1em;
}

p {
  text-align: center;
}

.header__text {
  margin-left: auto;
}

.logo {
  margin-right: auto;
  width: 9%;
  height: 9%;
  border-radius: 3em;
}

#name {
  margin-top: 2%;
  font-size: 5em;
  font-weight: 300;
  padding: 20px 0;

}

#job {
  font-size: 18.4px;
  color: #7d97ad;
  margin: 7px 0;
  text-align: right;
}

.main__photo {
  width: 100%;
  height: auto;
  margin-bottom: 1%;
}

.sub__content {
  width: 100%;
}
.sub__photo {
  display: flex;
  max-width: 100%;
}

.sub__title {
  margin: 32px 0;
  font-size: 2em;
}

.jeju__photo, .gwanghwamoon__photo, .hometown__photo {
  width: 100%;
  padding-right: 20px;
}

.hometown__photo {
  padding-right: 0;
}
